# Importing pandas and numpy for dataframe manupulation

In [3]:

import pandas as pd
import numpy as np
data=pd.read_csv("cleandata.csv")

# Displaying the first 5 samples of our data

In [4]:
data.head()

,age,gender,education,profession,maritial status,residential place,living with,debt,smoke,drink,...,insomia,work pressure,anxiety,depressed,abused,cheat,threat,sucide,lost,depression
0,1,1,1,1,1,1,1,2,2,1,...,2,1,1,2,2,2,2,2,2,0
1,1,2,1,2,1,2,1,2,2,2,...,1,2,1,1,1,2,2,2,2,1
2,2,2,2,3,1,2,1,2,2,2,...,2,3,1,1,2,2,2,2,2,0
3,3,2,2,3,1,2,1,2,2,2,...,2,4,1,1,2,1,2,2,2,1
4,2,2,3,3,1,1,1,2,2,2,...,1,3,1,1,2,2,2,2,2,1

# Seperating target column and remaining column for constructing model

In [5]:
target=data['depression']
inputs=data.drop("depression",axis=1)
len(inputs.columns)

21

In [6]:
inputs

,age,gender,education,profession,maritial status,residential place,living with,debt,smoke,drink,...,average sleep,insomia,work pressure,anxiety,depressed,abused,cheat,threat,sucide,lost
0,1,1,1,1,1,1,1,2,2,1,...,1,2,1,1,2,2,2,2,2,2
1,1,2,1,2,1,2,1,2,2,2,...,2,1,2,1,1,1,2,2,2,2
2,2,2,2,3,1,2,1,2,2,2,...,3,2,3,1,1,2,2,2,2,2
3,3,2,2,3,1,2,1,2,2,2,...,4,2,4,1,1,2,1,2,2,2
4,2,2,3,3,1,1,1,2,2,2,...,4,1,3,1,1,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,1,2,3,2,1,2,1,2,2,2,...,3,1,1,2,1,2,2,2,2,1
1204,1,2,1,2,1,2,1,1,2,2,...,4,2,4,1,1,1,2,2,2,2
1205,2,2,3,3,2,3,1,2,1,2,...,5,2,3,1,2,2,2,2,2,2
1206,2,2,3,5,1,2,1,2,2,2,...,4,2,2,1,2,2,2,2,2,2
1207,1,2,1,3,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1

In [7]:
target

0       0
1       1
2       0
3       1
4       1
       ..
1203    1
1204    1
1205    1
1206    0
1207    0
Name: depression, Length: 1208, dtype: int64

# importing modules to spilt the data

In [8]:
from sklearn.model_selection import train_test_split
np.random.seed(10)
X_test,X_train,y_test,y_train=train_test_split(inputs,target,test_size=.25)

In [9]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\sohail shaikh\machinelearning\sampleproject_1\env\lib\site-packages (1.6.2)
Requirement already satisfied: scipy in c:\users\sohail shaikh\machinelearning\sampleproject_1\env\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\sohail shaikh\appdata\roaming\python\python310\site-packages (from xgboost) (1.22.1)
Note: you may need to restart the kernel to use updated packages.

# Importing all the modules required for classification and for model Evaluation

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

# Making dictionary for each model so that we don't have to do it manually

In [11]:
models = { "Decision Tree Classifier": DecisionTreeClassifier(random_state=99),
          "KNN": KNeighborsClassifier(),
          "Random Forest Classification": RandomForestClassifier(random_state=42),
          "Logistic Regression": LogisticRegression(),
          "Support Vector machine":SVC(),
          "XGBoost Classifier ":XGBClassifier(use_label_encoder=False)}

# Making a function to return the accuracy of all the models which we have mentioned in our dictionary(models)

In [12]:
def find_accuracy(X_test,X_train,y_test,y_train):
    model_scores={}
    for name,model in models.items():
        np.random.seed(10)
        model.fit(X_train,y_train)
        model_scores[name]=model.score(X_test,y_test)
    return model_scores

In [13]:
accuracy=find_accuracy(X_test,X_train,y_test,y_train)
accuracy

{'Decision Tree Classifier': 0.7671081677704195,
 'KNN': 0.7108167770419426,
 'Random Forest Classification': 0.8377483443708609,
 'Logistic Regression': 0.8167770419426048,
 'Support Vector machine': 0.8068432671081678,
 'XGBoost Classifier ': 0.8421633554083885}

# We can see that Random forest classification has the maxiumn accuracy Hence we are going ahead with this

In [14]:
model=RandomForestClassifier(random_state=42)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8377483443708609

In [15]:
y_pred=model.predict(X_test)
cm=confusion_matrix(y_test,y_pred)

In [16]:
accuracy = (cm[0][0]+cm[1][1])/(cm[0][1] + cm[1][0] +cm[0][0] +cm[1][1])
print(accuracy*100)

83.77483443708608

In [17]:
import pickle

In [18]:
filename="depression_detection_model"
pickle.dump(model, open(filename, 'wb'))

In [19]:
model = pickle.load(open("depression_detection_model", 'rb'))